@import "../../../styles/variables";
@import "../../../styles/mixins";

.formContainer {
  @include flex(center, center, column);
}

.title {
  @include subTitle;
  margin-bottom: 38px;
}

.buttonWrapper {
  @include flex;
  gap: 17px;
  margin-bottom: 27px;

  button {
    background-color: $signUpButtons-color;
    height: $buttonSmall-height;
    width: 148px;
    border-radius: 9px;
  }
}