@import "./styles/variables";
body {
  //usage example
  font-family: 'Inter', sans-serif;
  //font-family: 'Poppins', sans-serif;
  background-color: $white-color;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}