.wrap {
  width: 813px;
  height: 350px;
}

.customPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Додайте відступи або інші стилі за потребою */
  margin-bottom: 20px;



.customPaginationItem {
  width: 30px; 
  height: 6px; 
  background-color: #DBD9EE; 
  border-radius: 55px;
  cursor: pointer; 

  &:not(:last-child) {
    margin-right: 10px; /* Відступ між індикаторами (крім останнього) */
  }
  
  &.active {
    background-color: #6C5FBC;
    width: 61px; 
  }
  }


}


// .active {
//   background-color: #6C5FBC;
//   width: 61px; 
// }