@import "../../styles/mixins";
@import "../../styles/variables";

.logo {
  @include flex(center, center, row);
  img {
    width: 40px;
    height: 37px;
  }

  @media (min-width: $bp-tablet) {
    img {
      width: 44px;
      height: 40px;
    }
  }

  @media (min-width: $bp-desktop) {
    img {
      width: 62px;
      height: 57px;
    }
  }
}
.logo__text {
  margin-left: 10px;
  font-family: $font-poppins;
  font-weight: 600;
  font-size: 18px;
  color: $primaryDefault-color;

  @media (min-width: $bp-tablet) {
    font-size: 20px;
  }

  @media (min-width: $bp-desktop) {
    font-size: 29px;
  }
}
