.container {
    width: 100%;
}

// Restaurant skeleton

.restaurantContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.restaurantCardSkeleton {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
    box-shadow: 6px 71px 35px 0px rgba(229, 229, 229, 0.70);
    border-radius: 16px;
    background-color: #676767;
}

.restaurantImageSkeleton {
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
    border-radius: 16px 16px 0 0;
}

.restaurantChipsTitleRatingSkeleton {
    margin-top: 10px;
    margin-left: 32px;
    width: 70%;
    height: 20px;
    border-radius: 16px;
}


// Product skeleton

.productCardSkeleton {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
    box-shadow: 0 20px 20px 0px rgba(229, 229, 229, 1);
    border-radius: 16px;
    background-color: #676767;
}

.productImageSkeleton {
    width: 100%;
    height: 162px;
    margin-bottom: 15px;
    border-radius: 16px 16px 0 0;
}

.productChipsTitleRatingSkeleton {
    height: 20px;
    margin-top: 10px;
    margin-left: 8px;
    max-width: 46%;
    @media (min-width: 481px) {
        max-width: 44%;
    };
    @media (min-width: 690px) {
        max-width: 26%;
    };
    @media (min-width: 993px) {
        max-width: 17%;
    };
}

.productRaitingSkeleton {
    width: 55%;
    height: 25px;
    margin-top: 20px;
    margin-left: 8px;
}

.productPriceSkeleton {
    width: 35%;
    height: 25px;
    margin-top: 30px;
    margin-left: 8px;
}


// Reviews skeleton

.reviewsCardSkeleton {
    width: 100%;
    height: 240px;
}


.loading {
    background: linear-gradient(-75deg, transparent 60%, #6C5FBC, transparent 80%) 200% 100% / 200% 100%, #ACADB9;
    animation: loading 4s infinite linear;
    background-attachment: fixed;
}

@keyframes loading {
    to {
        background-position: -200% 0;
    }
}
