.card {
  border-radius: 6px;
}
.productCardImage {
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5)
}

.box {
  position: relative;
}

.addToFavourite {
  position: absolute;
  bottom: 82px;
  left: 94px;
}

