.gridConteiner {
  height: 100%;
  display: grid;
  grid-template-areas:
    'a a b'
    'a a b'
    'c c b';
  grid-template-columns: repeat(3, 1fr);
  gap: 1;
  grid-template-rows: repeat(3, 240px);
  //   // gridTemplateAreas: `"search search sorter"
  //   // "discounts discounts sorter"
  //   // "discounts discounts sorter"`,
}
