@import "../../styles/mixins";
@import "../../styles/variables";

.footer {
  position: relative;
  @include flex(center, start, column);
  padding: 55px 32px 36px 32px;
  background-color: $bgFooter-color;
  color: $textFooter-color;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: $font-inter;
}

.footer__wrapper {
  @include flex(space-between, center, column);
}
.footer__wrapper-social {
  position: absolute;
  top: 66px;
  right: 32px;
  @include flex(center, center, row);
  gap: 18px;
}
.footer__link-wrapper {
  @include flex(center, start, column);
  margin-top: 53px;
  gap: 35px;
}

.footer__link {
  text-transform: uppercase;
}

.footer__line {
  margin-top: 33px;
  height: 1px;
  width: 100%;
  background-color: $textFooter-color;
}

.footer__text {
  margin-top: 26px;
  align-self: center;
}
