@import "./variables";


@mixin flex ($justify-content: center, $align-items: center, $flex-direction: row) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $flex-direction;
}

@mixin title($font-size-mobile: 46px,  $font-size-tablet: 54px, $font-size-desktop: 60px) {
    font-size: $font-size-mobile;
    font-family: $font-poppins;
    font-weight: 600;
    line-height: 150%;
     
    @media (min-width: $bp-tablet) {
      font-size: $font-size-tablet;
      line-height: 120%;
    }
  
    @media (min-width: $bp-desktop) {
      font-size: $font-size-desktop;
      line-height: 120%;
    }
}

@mixin subTitle($font-size-mobile: 30px,  $font-size-tablet: 32px, $font-size-desktop: 48px) {
    font-size: $font-size-mobile;
    font-family: $font-poppins;
    font-weight: 500;
    text-align: center;
    line-height: 150%;
    max-width: 314px;
     
    @media (min-width: $bp-tablet) {
      font-size: $font-size-tablet;
      line-height: 120%;
      max-width: 398px;
    }
  
    @media (min-width: $bp-desktop) {
      font-size: $font-size-desktop;
      line-height: 120%;
      max-width: 557px;
    }
}
