//--- BREAKPOINTS ---
$bp-tablet: 481px;
$bp-desktop: 993px;

//--- COLORS ---
$primaryDefault-color: #6155AE;
$primaryHover-color: #C5BFED;
$secondDefault-color: #FF9140;
$secondHover-color: #FF7C1C;

$healthy-color: #DAA31A;
$trending-color: #FB471D;
$supreme-color: #309D5B;

$white-color: #F9F9F9;

$title-color: #201F1F;
$subTitle-color: #323142;
$textHeader-color: #606060;
$textFooter-color: #969696;
$text-color: #2B2B2B;


//--- FONTS ---
$font-inter: 'Inter', sans-serif;
$font-poppins: 'Poppins', sans-serif;


